body {

    background-color: #eeeeff;
}


.tarjeta {

    position: absolute;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 50px;
}

.borde {

    border: solid 1px #dddddd;
    padding: 10px;
    border-radius: 5px;
}

.inputNumerico {

    width: 220px;
}
