body {
    background-color: #dddddd;

}


.tarjeta {

    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    background-color: #cccccc;
    margin: 5px 5px 20px 20px;
    padding: 10px;
    text-align: center;

}

.tarjeta h5 {

    color: #444;
}

.tarjeta{

    max-width: 800px !important;
}